$primary-font:"Roboto";

$rhythm: 12px;

@mixin flex-center {
  display: flex;
  align-items: center;
  justify-content: center;
}

@mixin text-ellipsis {
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
}

@function radius($value:200) {
  @return $value * 5px;
}
