.features {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
  padding: 0 $rhythm * 2;
  padding-top: $rhythm * 6;

  .feature {
    width: 100%;
    max-width: 400px;
    margin: 0 $rhythm;
    margin-bottom: $rhythm * 6;
  }
}
