@import "./constants.scss";
@import "./theme.scss";
@import "./media.scss";
@import "./globals.scss";

@import "./navigation.scss";

html {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, var(--background-grad-1) 0%, var(--background-grad-2) 100%);

  body {
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    min-height: unset;
  }
}

#__next {
  height: 100%;
  width: 100%;
}
