@import "./constants.scss";
@import "./theme.scss";
@import "./media.scss";
@import "./globals.scss";

@import "./repositoryPage.scss";

@import "./common";
@import "./aboutUs.scss";
@import "./navigation.scss";
@import "./main.scss";
@import "./features.scss";
@import "./information.scss";
@import "./highlights.scss";
@import "./repositorySection.scss";
@import "./footer.scss";

html {
  height: 100%;
  width: 100%;
  background: linear-gradient(180deg, var(--bg-grad-1) 0%, var(--bg-grad-2) 100%);

  body {
    margin: 0;
    -webkit-font-smoothing: subpixel-antialiased;
    -moz-osx-font-smoothing: grayscale;
    height: 100%;
    min-height: unset;
  }
}

#__next {
  height: 100%;
  width: 100%;
}
