.information {
  background-color: var(--dark-grey);
  color: var(--white);
  padding: $rhythm * 4;

  @include tablet {
    padding: $rhythm * 4 $rhythm;
  }

  h1 {
    @include font($fontSize: 48px);
    text-align: center;
    margin-bottom: $rhythm;

    @include tablet {
      @include font($fontSize: 36px);
    }
  }

  p {
    text-align: center;
    @include font($fontSize: 18px);

    @include tablet {
      @include font($fontSize: 16px);
    }
  }
}
