nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 0 $rhythm;
  font-family: $primary-font;
  height: $rhythm * 6;

  button {
    display: flex;
    align-items: center;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;

    h1 {
      margin-left: $rhythm !important;
      font-size: $rhythm * 2;
      font-weight: bold;
    }
  }

  ul {
    display: flex;
    margin: 0;
    padding: 0;

    li {
      list-style: none;
      margin-right: $rhythm * 2.5;
      font-size: $rhythm * 1.5;

      &:last-child {
        margin-right: 0;
      }
    }
  }
}
