nav {
  @include flex($alignItems: center, $justifyContent: space-between);
  position: relative;
  padding: 0 $rhythm;
  height: $rhythm * 6;
  z-index: 2;

  .nav-icon {
    @include flex($alignItems: center);
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;

    h1 {
      @include font($fontSize: 24px, $fontWeight: bold, $color: var(--medium-grey));
      margin-left: $rhythm !important;
    }
  }

  .nav-links {
    @include flex();
    margin: 0;
    padding: 0;

    @include tablet {
      display: none;
      position: fixed;
      top: $rhythm * 6;
      left: 0;
      width: 100%;
      background-color: var(--dialog-bg);
      border-radius: radius(1);
      box-shadow: 15px 15px 45px var(--black-20);
      flex-direction: column;
      padding: $rhythm;
    }

    &[data-open="true"] {
      @include flex();
    }

    li {
      @include font($fontSize: 16px, $color: var(--medium-grey));
      cursor: pointer;
      list-style: none;
      margin-right: $rhythm * 2.5;

      @include tablet {
        margin: 0;
        margin-bottom: $rhythm;

        &:last-child {
          margin-bottom: 0;
        }
      }

      &:last-child {
        margin-right: 0;
      }
    }
  }

  .nav-toggle {
    display: none;
    cursor: pointer;
    background-color: transparent;
    border: none;
    outline: none;
    padding: 0;

    @include tablet {
      display: block;
    }
  }
}
