.about {
  background: var(--white);
  width: 280px;
  box-shadow: 15px 15px 45px var(--black-20);
  position: relative;
  margin: 0 $rhythm * 2;

  @include tablet {
    width: 242px;
    margin: 0 $rhythm;
  }

  @include mobile-large {
    width: 100%;
  }

  h1 {
    @include flex($direction: column, $justifyContent: center);
    @include font($fontSize: 16px, $fontWeight: normal, $color: var(--dark-grey));
    cursor: pointer;
    text-align: center;
    height: $rhythm * 3;
    width: 100%;
  }
}
