.feature {
  @include flex($direction: column, $alignItems: center);

  &-icon {
    @include flex($justifyContent: center, $alignItems: center);
    background-color: var(--primary-color);
    height: $rhythm * 17;
    width: $rhythm * 17;
    border-radius: radius();
    margin-bottom: $rhythm;

    svg {
      height: $rhythm * 12;
      width: $rhythm * 12;
      fill: var(--white);
    }
  }

  h1 {
    @include font($fontSize: 32px, $fontWeight: normal, $color: var(--dark-grey));
    text-align: center;
    margin-bottom: $rhythm / 2;
  }

  p {
    @include font($fontSize: 16px, $color: var(--medium-grey));
    text-align: center;
    margin-bottom: $rhythm;
  }
}
