.project-card {
  @include flex();
  background: var(--white);
  padding: $rhythm * 2;

  &-body {
    margin-right: $rhythm;

    h1 {
      @include font($fontSize: 20px);
      margin-bottom: $rhythm;
    }

    p {
      @include font($fontSize: 16px);
      display: -webkit-box;
      margin-bottom: $rhythm * 1.5;
      overflow: hidden;
      text-overflow: ellipsis;
      -webkit-line-clamp: 2;
      -webkit-box-orient: vertical;
    }

    a {
      @include font($fontSize: 14px, $fontWeight: bold);
      cursor: pointer;
    }
  }

  svg {
    fill: var(--black-100);
    min-height: $rhythm * 8;
    min-width: $rhythm * 8;
  }
}
